{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/photo_gallery.css" %}" />
    <script type="text/javascript">
        var album_name = "{{ album_name }}";
        var current_token = '{{ csrf_token }}';
    </script>
{% endblock %}

{% block content %}

<div class="container marketing" id="start">

<div class="row featurette">
	<div class="page-header">
	  <h1>Zdjęcia<small> {{ album }}</small></h1>
	</div>
</div>

<div class="row featurette pagination-centered">
    {% for photo in photos %}
    <div class="img_thumb img-circle">
        <a href="{% url "picasso_view_photo" %}#{{ photo.photoid }}"
            title="{{ photo.title }}">
            {% with photo.thumbnails.all.1 as thumb %}
            <img src="{{ thumb.url }}" alt="{{ photo.title }}" class="img_thumb img-circle" />
            {% endwith %}
        </a>
    </div>
    {% endfor %}
</div>
<br>
<div class="row featurette" >    
    <form class="form">
	{% csrf_token %}
	     <div class="well">
	       <textarea rows=3 id="comment_text" class="form-control"></textarea>
	       <br>
	       <button class="btn btn-primary" type="button" onclick="add_new_comment('{{ album_name }}'); return false;"><i class="icon-plus-sign"></i> komentuj</button>
	     </div>
	</form>
    <table class="table table-hover">
    <tbody id="comment_list">
    </tbody>
    </table>
</div>

{% endblock %}

{% block backscripts %}
<script type="text/javascript" src="{% static "js/albumMain.js" %}"></script>
{% endblock %}