{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    
    
    <link rel="stylesheet" type="text/css" href="{% static "css/photo.css" %}" />
    <script type="text/javascript" src="{% static "js/photoMain.js" %}"></script>
    <script type="text/javascript" src="{% static "js/master.js" %}"></script>
    <script type="text/javascript">
        var current_token = '{{ csrf_token }}';
    </script>
    
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

</head>

<body>
   <div class="back_to_galery"> </div>
   
   
   <div class="photo_content"> </div>  
   
   <div class="container">
   <div class="incontainer">
   {% comment %} 
	   <p><a href="{% url "picasso_view_album" %}">back</a></p>
   {% endcomment %}
		<div class="control_btns pull-right">
		  <a href="#" id="galery"><i class="glyphicon glyphicon-th-large"></i></a>
		  <a href="#" id="prev_img"><i class="glyphicon glyphicon-chevron-left"></i></a>
		  <a href="#" id="play_img"><i class="glyphicon glyphicon-play" id="play_icon"></i></a>
		  <a href="#" id="next_img"><i class="glyphicon glyphicon-chevron-right"></i></a>
		
		</div>
   
	    <form class="form">
	    {% csrf_token %}
	         <div class="well">
	           <textarea rows=2 id="comment_text" class="form-control"></textarea>
	           <br>
	           <button class="btn btn-primary" type="button" onclick="add_new_comment(); return false;"><i class="icon-plus-sign"></i> komentuj</button>
	         </div>
	    </form>
	    
	    <table class="table">
        <tbody id="comment_list">
        </tbody>
        </table>
   </div>
   </div>


<!-- MODALS -->
<div class="modal hide fade" id="fatal_error">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ohhh no!!!!!!!!</h3>
  </div>
  <div class="modal-body">
    <p class="error_msg">Coś strasznego stało się z serwerem, pewnie jest za dużo ludzi i nie wydala, poczekaj chwilę.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Spoko</a>
  </div>
</div>

<div class="modal hide fade" id="normal_error">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ojjj...</h3>
  </div>
  <div class="modal-body">
    <p class="error_msg">Chyba coś przekombinowałeś...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Spoko</button>
  </div>
</div>

{% if user.username != 'piotrek' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45031160-1', 'dobrowolski.net.pl');
  ga('send', 'pageview');

</script>
{% endif %}

</body>
</html>
