{% extends "base.html" %}
{% load url from future %}
   
{% block content %}

<div class="container marketing" id="start">

{% if form.errors %}
    <div class="alert alert-error">
        Nazwa użytkownika lub hasło nie jest poprawne. Spróbuj ponownie.
    </div>
{% endif %}



<div class="row">
<div class="span6">
    <div class="well">
        <h3>Zarejestruj się.</h3>
        <a href="{% url 'new_account' %}" class="btn btn-large btn-primary">Rejestracja</a>
    </div>
    <div class="well">
        <h3>Zaloguj przez facebooka!</h3>
        <a href="{% url 'social:begin' "facebook" %}" class="btn btn-large btn-primary">facebook</a>
    </div>
</div>
<div class="span6">

<hr class="featurette-divider">

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="well">

{% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username }}
    
    {{ form.password.label_tag }}
    {{ form.password }}
    
    <hr />
    
    <input type="submit" value="Zaloguj" class="btn btn-primary" />
    <input type="hidden" name="next" value="{{ next }}" /></td>
    
</form>

</div>

{% endblock %}
