{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sylwester Czarnorzeki.">
    <meta name="author" content="Piotr Dobrowolski">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>                                                           
        <script src="{% static "js/html5shiv.js" %}"></script>                                   
        <script src="{% static "js/respond.min.js" %}"></script>                                 
    <![endif]-->  

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/Main.css" %}" />
    <!--
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    -->
    <link href="{% static "css/carousel.css" %}" rel="stylesheet">

    {% block head %}
    {% endblock %}
    <title>Sylwester Czarnorzeki {{ title }}</title>

</head>

<body>
<!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
          
             <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand logo_icon " href="{% url "home" %}">Sylwester Czarnorzeki</a>
            </div>            
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              
                <li {% if title == "home" %}class="active"{% endif %}><a href="{% url "home" %}"><i class="icon-glass"></i> Home</a></li>
		        <li {% if title == "playlist" %}class="active"{% endif %}><a href="{% url "playlist" %}"><i class="icon-list"></i> Playlista</a></li>
		        <li {% if title == "propose" %}class="active"{% endif %}><a href="{% url "propose" %}"><i class="icon-plus-sign"></i> Komentarze</a></li>
		        <!--  <li><a href="#"><i class="icon-thumbs-up"></i> Polub na fejsie</a></li> -->
		        <!--  <li {% if title == "flavour" %}class="active"{% endif %}><a href="{% url "flavour" %}"><i class="icon-shopping-cart"></i> Co będę szamał</a></li> -->
                <li {% if title == "photos" %}class="active"{% endif %}><a href="{% url "picasso_list_albums" %}"><i class="icon-camera"></i> Zdjęcia</a></li>
              </ul>
              <ul class="nav navbar-nav pull-right">
	           {% if user.is_authenticated %}
	               <li><a href="{% url "logout" %}?next={% url "login" %}" rel="tooltip" data-placement="bottom" title="Wyloguj!"><i class="icon-user"></i> wyloguj {{ user.username }}</a></li>
	           {% else %}
	               <li><a href="{% url "propose" %}"><i class="icon-user"></i> Logowanie</a></li>
	           {% endif %}    
	          </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    
        {% block content %}
        {% endblock %}

 <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Piotr Dobrowolski &middot; <a href="http://dobrowolski.net.pl/#contact">Contact</a></p>
      </footer>

</div><!-- /.container -->

<!-- MODALS -->
<div class="modal fade" id="fatal_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ojjj...</h4>
      </div>
      <div class="modal-body">
        <p class="error_msg">Coś strasznego stało się z serwerem, pewnie jest za dużo ludzi i nie wydala, poczekaj chwilę.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Spoko</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="normal_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ojjj...</h4>
      </div>
      <div class="modal-body">
        <p class="error_msg">Chyba coś przekombinowałeś...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Spoko</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/mywork.js" %}"></script>

{% block backscripts %}
{% endblock %}

{% if user.username != 'piotrek' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45031160-1', 'dobrowolski.net.pl');
  ga('send', 'pageview');

</script>
{% endif %}

</body>
</html>
