{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    
{% endblock %}

{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background: url('{% static "img/slide1.jpg" %}') no-repeat center center / cover;">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:#ffffff; text-shadow: 0 0 0.1em #000">Sylwester Czarnorzeki!</h1>
              <p style="color:#ffffff; text-shadow: 0 0 0.1em #000">Wyśmienita zabawa do białego rana!</p>
              <p><a class="btn btn-large btn-primary" href="#start">START</a></p>
            </div>
          </div>
        </div>
        <div class="item" style="background: url('{% static "img/slide4.jpg" %}') no-repeat center center / cover;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Zdjęcia</h1>
              <p>Oglądaj i komentuj zdjęcia z Czarnorzek!</p>
              <p><a class="btn btn-large btn-primary" href="{% url "picasso_list_albums" %}">Oglądaj zdjęcia</a></p>
            </div>
          </div>
        </div>
        <div class="item" style="background: url('{% static "img/c/4.jpg" %}') no-repeat center center / cover;">
          <div class="container">
		        <div class="carousel-caption">
		          <p>
		                <script language="JavaScript">
		                TargetDate = "12/31/2013 6:00 PM";
		                //BackColor = "palegreen";
		                //ForeColor = "navy";
		                CountActive = true;
		                CountStepper = -1;
		                LeadingZero = true;
		                DisplayFormat = "<h1>%%D%% dni,</h1><br /><h2>%%H%% godzin,</h2><br /><h3>%%M%% minut,</h3><br /><h4>%%S%% sekund!</h4>";
		                FinishMessage = "<h1>Szaloną zabawę czas zacząć!</h1>";
		                </script>
		                <script type="text/javascript" src="{% static "js/countdown.js" %}"></script>
		           </p>
		        </div>
          </div>
        </div>
        <div class="item" style="background: url('{% static "img/c/1.jpg" %}') no-repeat center center / cover;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sukces poprzedniej playlisty</h1>
              <p>
              W zeszłym roku zrobiliście to wyśmienicie. Playlista długo po imprezie sylwestrowej wędrowała z rąk do rąk. 
              Proponuję pobić rekord zeszłego sylwestra i zrobić to jeszcze lepiej.</p>
              <p><a class="btn btn-large btn-primary" href="http://picasaweb.google.com/dobrypd/?noredirect=1">Browse Picassa gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

<div class="container marketing" id="start">



 <div class="container marketing" id="start">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/a.jpg" %}">
          <h2>Ciągłe zmiany</h2>
          <p>
          Pamiętaj, że napisałem tę stronę na szybko, pewnie nie wszystko działa. :) (nie mówiąc o redagowaniu tekstów)
          <br>
          Zeszłoroczna playlista bardzo długo była (i nadal jest) wykorzystywana na imprezach. Także pomyślałem, że
          fajnie by było i w tym roku zrobić coś ciekawego.
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/addnew.jpg" %}">
          <h2>Playlista</h2>
          <p>Przyczyń się do ulepszenia tego co mamy!</p>
          <p><a class="btn btn-default" href="{% url "playlist" %}#addnew">Dodaj utwór &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/c.jpg" %}">
          <h2>Alternatywa</h2>
          <p>Serwer rok temu przestał odpowiadać bo został zabity przez
          ilość osób wchodzącą na raz. W tym roku nie powinno się to wydarzyć.
          <br>
          Jakby co, polecam również inne miejsca. Moją galerię, gdzie po sylwestrze wstawię zdjęcia (będą najpierw tutaj) <a href="http://picasaweb.google.com/dobrypd?noredirect=1">link</a>.
          Oraz oczywiście event na fb <a href="https://www.facebook.com/events/563610353707390">link</a>.
          </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div>
  
  <hr class="featurette-divider">

    <div class="row featurette" id="free_time_projects">
      <div class="col-md-7">
        <h2 class="featurette-heading">Moi drodzy <span class="text-muted">!!!</span></h2>
        <p class="lead">Zeszłoroczny Sylwester cieszył się dużym zainteresowaniem a zakończył
        udaną imprezą do białego rana.
        Przepełnieni sukcesem, wychodzimy z inicjatywą aby w tym roku zorganizować SYLWESTER 2013 i razem z Wami powitać Nowy 2014 Rok !
        Chcemy aby zabawa przyjęła zeszłoroczną formę. Postaramy się zapewnić muzykę, ciepłe posiłki, fajerwerki, szampan. 
        Liczymy na Waszą szczerą pomoc w organizacji i przystrojeniu sali. </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{% static "img/main.jpg" %}" alt="To jest KRYSTIAN WILK!!!">
      </div>
    </div>

{% endblock %}
