{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript">
        var current_token = '{{ csrf_token }}';
    </script>
{% endblock %}

{% block content %}

<div class="container marketing" id="start">


<div class="row featurette">
<div class="page-header">
  <h1>Komentarze... pomysły...<small> wszystko co Ci przyjdzie do głowy.</h1>
</div>
</div>

<div class="row featurette">
<form class="form">
{% csrf_token %}
     <div class="input">
       <span class="add-on"><i class="icon-heart"></i></span>
       <input id="prop_text" type="text" class="form-control">
       <hr>
       <button class="btn btn" type="button" onclick="add_new_prop(); return false;"><i class="glyphicon glyphicon-plus"></i> DODAJ NOWY</button>
     </div>
</form>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <table class="table table-hover">
     <thead>
      <tr>
        <th>Przez</th>
        <th>Pomysł</th>
        <th>Thumbs</th>
      </tr>
    </thead>
    <tbody id="proposelist">

    </tbody>
    </table>
</div>

{% endblock %}


{% block backscripts %}
    <script type="text/javascript" src="{% static "js/master.js" %}"></script>
    <script type="text/javascript" src="{% static "js/proposeMain.js" %}"></script>
{% endblock %}
